body {
  margin: 0;
  width: 360px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* BACKGROUND IMAGES */
.login { background-image: url("images/login.jpg"); }
.profile { background-image: url("images/profile.jpg"); }
.menu-page { background-image: url("images/menu.jpg"); }
.me-photo { background-image: url("images/me.jpg"); }
.father-photo { background-image: url("images/father.jpg"); }

/* INPUTS + BUTTONS */
input, button { 
  position: absolute; 
  background: transparent; 
  border: none; 
}

/* EMAIL INPUT */
.email {
  top: 558px;
  left: 50%;
  transform: translateX(-50%);
  width: 210px;
  height: 35px;

  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

/* PASSWORD INPUT */
.password {
  top: 630px;
  left: 50%;
  transform: translateX(-50%);
  width: 210px;
  height: 35px;

  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

/* SIGN IN BUTTON */
.signin {
  top: 705px;
  left: 50%;
  transform: translateX(-50%);
  width: 205px;
  height: 33px;
  cursor: pointer;
}

/* TOP LEFT MENU ICON CLICK AREA */
.menu-btn {
  position: absolute;
  top: 5px;
  left: 9px;
  width: 28px;
  height: 15px;
  background: transparent;
  cursor: pointer;
}

/* REMOVE INPUT OUTLINE ON FOCUS */
.email:focus,
.password:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
